@import url("https://fonts.googleapis.com/css2?family=Wallpoet&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Tilt+Neon&display=swap");

/* Colors variables */
:root {
  --main-color: #43be43;
  --popup-color: #181a29;
  --green-validate: #80ff80;
  --red-error: #ff6e6e;
}

* {
  font-family: "Tilt Neon", cursive;
}

/* a trier */
.leaflet-popup,
.leaflet-popup-pane,
.leaflet-popup-content-wrapper,
.leaflet-popup-content,
.leaflet-popup-tip-container {
  text-align: center;
  border-radius: 1rem;
  color: white;
  background-color: rgb(21, 32, 66);
}

.leaflet-popup-tip-container {
  display: none;
}
