@import url("https://fonts.googleapis.com/css2?family=Wallpoet&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Tilt+Neon&display=swap");

/* Colors variables */
:root {
  --main-color: #43be43;
  --popup-color: #181a29;
  --green-validate: #80ff80;
  --red-error: #ff6e6e;
}

html {
  /* width: 100vw;
  height: 100vh; */
}

* {
  font-family: "Tilt Neon", cursive;
}
